* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-anchor: none;
  margin: 0 30px;

  a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
  }

  ul {
    list-style: none; 
  }
}   
