.contact-title {
    margin: 40px 0;
    font-size: 45px;
    text-align: center;
}


.contact-text {
    font-size: 16px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 40px;
}


form {
    max-width: 100%; /* Позволяет форме занимать всю доступную ширину */
  }
  
  input[type="email"],
  textarea {
    width: 100%; /* Занимает всю доступную ширину внутри формы */
    box-sizing: border-box;
    padding: 20px; /* Учитываем padding и border в ширине элемента */
  }
  
  /* Необязательный стиль для кнопки отправки */

  .btn-hero {
    margin: 30px auto;
    width: 140px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: none;
    display: block;
    margin-top: 35px;
    box-shadow: 0px 3px 6px var(--light-grey-color);
    padding: 11px 7px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--white-color);
      color: var(--black-color);
    }
  }
  
